In [ ]:
#This needs to be run on the instance where PostGIS is also running with SedonaDB installed
import geopandas as gpd
import pandas as pd
import threading
from sqlalchemy import create_engine
import sedona.db
import yaml
from time import perf_counter
from pyarrow import parquet as pq
from concurrent.futures import ThreadPoolExecutor, as_completed
import time
import random
sd = sedona.db.connect()

# Create a PostGIS connection (adjust parameters as needed)
user="postgres"
password="test"
host="localhost"
engine = create_engine("postgresql://"+user+":"+password+"@"+host+":5432/postgres")
#set size to the desired dataset size
size= 100000000

#by default, the benchmark runs single-threaded, to run multi-threaded, change num_threads to the desired number of threads
num_threads = 1

In [2]:
import pyarrow as pa
import pyarrow.parquet as pq
import psycopg2

conn = psycopg2.connect("dbname=postgres user=postgres password=test host=localhost")
cur = conn.cursor(name="stream_export")   # server-side cursor

cur.execute("""
    SELECT 
        flightid,
        airplanetype,
        origin,
        destination,
        ST_AsText(geom) AS geom,
        timestamp,
        altitude 
        FROM flight_points
""")
chunk_size = 500_000
writer = None

while True:
    rows = cur.fetchmany(chunk_size)
    if not rows:
        break
    
    table = pa.Table.from_pylist([dict(zip([desc[0] for desc in cur.description], row)) for row in rows])
    
    if writer is None:
        writer = pq.ParquetWriter("output.parquet", table.schema, compression="snappy")
    
    writer.write_table(table)

if writer:
    writer.close()

cur.close()
conn.close()

In [ ]:
chunks = []
chunk_size = 1000000

sql = f"SELECT * FROM ride_points LIMIT {size}"
for chunk in gpd.read_postgis(sql, engine, geom_col="geom", chunksize=chunk_size):
    chunks.append(chunk)
    print(f"Loaded chunk with {len(chunk)} rows")

gdf = gpd.GeoDataFrame(pd.concat(chunks, ignore_index=True))
print("Final combined GeoDataFrame:", len(gdf))

In [3]:
#cycling

gdf = gpd.read_parquet("ride_points.parquet")

gdf2 = gpd.read_postgis(
    "SELECT * FROM universities",
    con=engine,
    geom_col="geom"
)
gdf3 = gpd.read_postgis(
    "SELECT * FROM berlin_districts",
    con=engine,
    geom_col="geom"
)

gdf4 = gpd.read_postgis(
    "SELECT ride_id, rider_id, origin_geom, start_time FROM ride_trajectories",
    con=engine,
    geom_col="origin_geom"
)

gdf5 = gpd.read_postgis(
    "SELECT ride_id, rider_id, destination_geom, end_time FROM ride_trajectories",
    con=engine,
    geom_col="destination_geom"
)

df = sd.create_data_frame(gdf)
df2 = sd.create_data_frame(gdf2)
df3 = sd.create_data_frame(gdf3)
df4 = sd.create_data_frame(gdf4)
df5 = sd.create_data_frame(gdf5)

df.to_view("ride_points", overwrite=True)
df2.to_view("universities", overwrite=True)
df3.to_view("berlin_districts", overwrite=True)
df4.to_view("ride_trajectories_start", overwrite=True)
df5.to_view("ride_trajectories_end", overwrite=True)

In [ ]:
#save gdf to parquet files
gdf.to_parquet("ride_points.parquet")
gdf2.to_parquet("universities.parquet")
gdf3.to_parquet("berlin_districts.parquet")
gdf4.to_parquet("ride_trajectories_start.parquet")
gdf5.to_parquet("ride_trajectories_end.parquet")

In [ ]:

sd.read_parquet("ride_points.parquet").to_view("ride_points", overwrite=True)
sd.read_parquet("universities.parquet").to_view("universities", overwrite=True)
sd.read_parquet("berlin_districts.parquet").to_view("berlin_districts", overwrite=True)
sd.read_parquet("ride_trajectories_start.parquet").to_view("ride_trajectories_start", overwrite=True)
sd.read_parquet("ride_trajectories_end.parquet").to_view("ride_trajectories_end", overwrite=True)

FileNotFoundError: [Errno 2] Failed to open local file 'ride_trajectories_start.parquet'. Detail: [errno 2] No such file or directory

In [2]:
chunks = []
chunk_size = 1000000

sql = f"SELECT * FROM crossing_points LIMIT {size}"
counter = 0
for chunk in gpd.read_postgis(sql, engine, geom_col="geom", chunksize=chunk_size):
    chunks.append(chunk)
    #write chunks to parquet if chunk count exceeds 10 million 
    if len(chunks) * chunk_size >= 10000000:
        gdf_chunk = gpd.GeoDataFrame(pd.concat(chunks, ignore_index=True))
        gdf_chunk.to_parquet(f"crossing_points_part_{counter}.parquet")
        counter += 1
        print(f"Wrote crossing_points_part_{counter}.parquet with {len(gdf_chunk)} rows")
        chunks = []
if len(chunks) > 0:
    gdf_chunk = gpd.GeoDataFrame(pd.concat(chunks, ignore_index=True))
    gdf_chunk.to_parquet(f"crossing_points_part_{counter}.parquet")
else:
    counter -= 1
files = [f"crossing_points_part_{i}.parquet" for i in range(counter + 1)]
schema = pq.ParquetFile(files[0]).schema_arrow
with pq.ParquetWriter("crossing_points.parquet", schema=schema) as writer:
    for file in files:
        writer.write_table(pq.read_table(file, schema=schema))

Wrote crossing_points_part_1.parquet with 10000000 rows
Wrote crossing_points_part_2.parquet with 10000000 rows
Wrote crossing_points_part_3.parquet with 10000000 rows
Wrote crossing_points_part_4.parquet with 10000000 rows
Wrote crossing_points_part_5.parquet with 10000000 rows
Wrote crossing_points_part_6.parquet with 10000000 rows
Wrote crossing_points_part_7.parquet with 10000000 rows
Wrote crossing_points_part_8.parquet with 10000000 rows
Wrote crossing_points_part_9.parquet with 10000000 rows

In [2]:


gdf = gpd.read_parquet("crossing_points.parquet")

gdf2 = gpd.read_postgis(
    "SELECT * FROM harbours",
    con=engine,
    geom_col="geom"
)
gdf3 = gpd.read_postgis(
    "SELECT * FROM islands",
    con=engine,
    geom_col="geom"
)

gdf4= gpd.read_postgis(
    "SELECT crossing_id, origin_geom, start_time FROM crossing_trajectories",
    con=engine,
    geom_col="origin_geom"
)
gdf5= gpd.read_postgis(
    "SELECT crossing_id, destination_geom, end_time FROM crossing_trajectories",
    con=engine,
    geom_col="destination_geom"
)


# Create SedonaDB DataFrames
df = sd.create_data_frame(gdf)
print("Successfully created Sedona DataFrame for crossing points")
df2 = sd.create_data_frame(gdf2)
df3 = sd.create_data_frame(gdf3)
df4 = sd.create_data_frame(gdf4)
df5 = sd.create_data_frame(gdf5)

# Register the raw data as temporary views
df.to_view("crossing_points", overwrite=True)
print("Successfully registered crossing points view")
df2.to_view("harbours", overwrite=True)
df3.to_view("islands", overwrite=True)
df4.to_view("crossing_trajectories_start", overwrite=True)
df5.to_view("crossing_trajectories_end", overwrite=True)

Successfully created Sedona DataFrame for crossing points
Successfully registered crossing points view

In [3]:


gdf.to_parquet("crossing_points.parquet")
gdf2.to_parquet("harbours.parquet")
gdf3.to_parquet("islands.parquet") 
gdf4.to_parquet("crossing_trajectories_start.parquet")
gdf5.to_parquet("crossing_trajectories_end.parquet")

In [ ]:
sd.read_parquet("crossing_points.parquet").to_view("crossing_points", overwrite=True)
sd.read_parquet("harbours.parquet").to_view("harbours", overwrite=True)
sd.read_parquet("islands.parquet").to_view("islands", overwrite=True)
sd.read_parquet("crossing_trajectories_start.parquet").to_view("crossing_trajectories_start", overwrite=True)
sd.read_parquet("crossing_trajectories_end.parquet").to_view("crossing_trajectories_end", overwrite=True)

FileNotFoundError: [Errno 2] Failed to open local file 'crossing_trajectories_start.parquet'. Detail: [errno 2] No such file or directory

In [3]:
# aviation
chunks = []
chunk_size = 1000000

sql = f"SELECT * FROM flight_points LIMIT {size}"
counter = 0
for chunk in gpd.read_postgis(sql, engine, geom_col="geom", chunksize=chunk_size):
    chunks.append(chunk)
    #write chunks to parquet if chunk count exceeds 10 million 
    if len(chunks) * chunk_size >= 10000000:
        gdf_chunk = gpd.GeoDataFrame(pd.concat(chunks, ignore_index=True))
        gdf_chunk.to_parquet(f"flight_points{counter}.parquet")
        counter += 1
        print(f"Wrote f{counter}.parquet with {len(gdf_chunk)} rows")
        chunks = []
if len(chunks) > 0:
    gdf_chunk = gpd.GeoDataFrame(pd.concat(chunks, ignore_index=True))
    gdf_chunk.to_parquet(f"flight_points_part_{counter}.parquet")
else:
    counter -= 1
counter = 25
files = [f"flight_points{i}.parquet" for i in range(counter + 1)]
schema = pq.ParquetFile(files[0]).schema_arrow
with pq.ParquetWriter("flight_points.parquet", schema=schema) as writer:
    for file in files:
        writer.write_table(pq.read_table(file, schema=schema))

:

In [ ]:

gdf = gpd.read_parquet("flight_points.parquet")

gdf2 = gpd.read_postgis(
    "SELECT name, ST_SetSRID(geom,3857) as geom FROM districts",
    con=engine,
    geom_col="geom"
)
gdf3 = gpd.read_postgis(
    "SELECT name, ST_SetSRID(geom,3857) as geom FROM municipalities",
    con=engine,
    geom_col="geom"
)
gdf4 = gpd.read_postgis(
    "SELECT name, ST_SetSRID(geom,3857) as geom FROM cities",
    con=engine,
    geom_col="geom"
)
gdf5 = gpd.read_postgis(
    "SELECT name, ST_SetSRID(geom,3857) as geom FROM counties",
    con=engine,
    geom_col="geom"
)
gdf6 = gpd.read_postgis(
    "SELECT flightid, origin, origin_geom, start_time FROM flight_trajectories",
    con=engine,
    geom_col="origin_geom"
)
gdf7 = gpd.read_postgis(
    "SELECT flightid, destination, destination_geom, end_time FROM flight_trajectories",
    con=engine,
    geom_col="destination_geom"
)
df = sd.create_data_frame(gdf)
df2 = sd.create_data_frame(gdf2)
df3 = sd.create_data_frame(gdf3)
df4 = sd.create_data_frame(gdf4)
df5 = sd.create_data_frame(gdf5)
df6 = sd.create_data_frame(gdf6)
df7 = sd.create_data_frame(gdf7)

df.to_view("flight_points", overwrite=True)
df2.to_view("districts", overwrite=True)
df3.to_view("municipalities", overwrite=True)
df4.to_view("cities", overwrite=True)
df5.to_view("counties", overwrite=True)
df6.to_view("flight_trajectories_start", overwrite=True)
df7.to_view("flight_trajectories_end", overwrite=True)

In [3]:
#save to parquet
gdf.to_parquet("flight_points.parquet")
gdf2.to_parquet("districts.parquet")
gdf3.to_parquet("municipalities.parquet")
gdf4.to_parquet("cities.parquet")
gdf5.to_parquet("counties.parquet")
gdf6.to_parquet("flight_trajectories_start.parquet")
gdf7.to_parquet("flight_trajectories_end.parquet")

NameError: name 'gdf' is not defined

In [3]:
sd.read_parquet("output.parquet").to_view("flight_points_temp", overwrite=True)

#drop the flight_points table if exists
sd.sql("DROP TABLE IF EXISTS flight_points;")

#change the geom column to an actual geom with SRID 3857
sd.sql("""
CREATE TABLE flight_points AS
SELECT 
    flightid, 
    airplanetype, 
    origin, 
    destination,
    ST_SetSRID(ST_GeomFromWKT(geom), 3857) AS geom,
    timestamp,
    altitude
FROM flight_points_temp;
""")

sd.sql("DROP VIEW IF EXISTS flight_points_temp;")

In [4]:

sd.read_parquet("districts.parquet").to_view("districts", overwrite=True)
sd.read_parquet("municipalities.parquet").to_view("municipalities", overwrite=True)
sd.read_parquet("cities.parquet").to_view("cities", overwrite=True)
sd.read_parquet("counties.parquet").to_view("counties", overwrite=True)
sd.read_parquet("flight_trajectories_start.parquet").to_view("flight_trajectories_start", overwrite=True)
sd.read_parquet("flight_trajectories_end.parquet").to_view("flight_trajectories_end", overwrite=True)

In [ ]:
#generate random 5 character string for benchmark experiment id
#however, if you want to analzye it together with the other systems, use the same id as before (i.e, change it to the id of the other database systems after execution)
#threaded execution can be found below, functional but currently commented out

id = ''.join(random.choices('ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789', k=5))
logging_path = f"/home/tim/client/benchmark_client/SedonaDBquery_results_{id}.log"

#Specify the benchmark to run here, using either ais, aviation, or cycling
benchmark = "aviation"

#specify the user
user="tim"

config_path  = f"/home/{user}/client/benchmark_client/src/main/resources/{benchmark}/sedonaSQL_queries.yaml"
config = None
with open(config_path, 'r') as file:
    config = yaml.safe_load(file)

#--single--

results = []

for q in config:
    name = q['name']
    sql = q['sql']
    print(name)
    print(sql)
    start = perf_counter()
    result = sd.sql(sql)
    result_count = result.count()
    end = perf_counter()

    result.show()
    print(name)
    duration = end - start

    results.append((name, result_count, duration))

with open(logging_path, 'w+') as log_file:
    for result in results:
        log_file.write(
            f"[SedonaDB] [{benchmark}] query: {result[0]}: {result[2] * 1000}ms, result count: {result[1]}\n"
        )

#--end-single--
#this part is used for threaded execution and parallel querying, to use it, comment out the part from single to end-single and uncomment below

# def run_query(name, sql):
#     """Execute a single query and return timing + partial results."""
#     thread_name = threading.current_thread().name
#     print(name)
#     start = perf_counter()
#     result = sd.sql(sql)
#     result_count = result.count()
#     end = perf_counter()
#     result.show()
#     print(name)
#     duration = end - start
#     return thread_name, name, result_count, duration

# # Run in parallel
# results = []
# with ThreadPoolExecutor(max_workers=num_threads) as executor:
#     for q in config:
#         future_to_query = executor.submit(run_query, q['name'], q['sql'])
#     for future in as_completed(future_to_query):
#         thread_name, query, count, duration = future.result()
#         #log to file

#         results.append((query, count, duration))
# #create log file if not exists, and append results

# with open(logging_path, 'w+') as log_file:
#     for result in results:
#         log_file.write(f"[SedonaDB] [{benchmark}] query: {result[0]}: {result[2]*1000}ms, result count: {result[1]}\n")

┌──────────────┬──────────────────────────────┬─────────────┐
│  column_name ┆           data_type          ┆ is_nullable │
│     utf8     ┆             utf8             ┆     utf8    │
╞══════════════╪══════════════════════════════╪═════════════╡
│ flightid     ┆ Int64                        ┆ YES         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ airplanetype ┆ Utf8View                     ┆ YES         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ origin       ┆ Utf8View                     ┆ YES         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ destination  ┆ Utf8View                     ┆ YES         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ geom         ┆ Binary                       ┆ YES         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ timestamp    ┆ Timestamp(Microsecond, None) ┆ YES         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ altitude     ┆ Float64                      ┆ YES         │
└──────────────┴──────────────────────────────┴─────────────┘
flightClosestToPoint
SELECT f.flightid, f.airplaneType, f.origin, f.destination, ST_Distance(f.geom, ST_SetSRID(ST_Point(775092.5900883757, 6862446.781402792), 3857)) AS min_distance FROM flight_points f WHERE ST_DWithin(f.geom, ST_SetSRID(ST_Point(775092.5900883757, 6862446.781402792), 3857), 1120) ORDER BY min_distance ASC LIMIT 1;

┌──────────┬──────────────┬────────┬─────────────┬──────────────┐
│ flightid ┆ airplanetype ┆ origin ┆ destination ┆ min_distance │
│   int64  ┆     utf8     ┆  utf8  ┆     utf8    ┆    float64   │
╞══════════╪══════════════╪════════╪═════════════╪══════════════╡
└──────────┴──────────────┴────────┴─────────────┴──────────────┘
flightClosestToPoint
flightClosestToPoint
SELECT f.flightid, f.airplaneType, f.origin, f.destination, ST_Distance(f.geom, ST_SetSRID(ST_Point(978759.6009686731, 6684180.13150864), 3857)) AS min_distance FROM flight_points f WHERE ST_DWithin(f.geom, ST_SetSRID(ST_Point(978759.6009686731, 6684180.13150864), 3857), 3158) ORDER BY min_distance ASC LIMIT 1;

┌──────────┬──────────────┬────────┬─────────────┬──────────────┐
│ flightid ┆ airplanetype ┆ origin ┆ destination ┆ min_distance │
│   int64  ┆     utf8     ┆  utf8  ┆     utf8    ┆    float64   │
╞══════════╪══════════════╪════════╪═════════════╪══════════════╡
└──────────┴──────────────┴────────┴─────────────┴──────────────┘
flightClosestToPoint
flightsInCountyInPeriod
SELECT DISTINCT f.flightid FROM flight_points f, counties k WHERE k.name = 'Krs Steinfurt' AND ST_Intersects(f.geom,k.geom) AND f.timestamp BETWEEN TIMESTAMP '2023-10-10 12:40:46' AND TIMESTAMP '2023-10-22 20:55:32';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 76019702 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75831083 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75838017 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 76025633 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75834029 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75864846 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75820661 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75854494 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75822805 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75831222 │
└──────────┘
flightsInCountyInPeriod
flightsInCountyInPeriod
SELECT DISTINCT f.flightid FROM flight_points f, counties k WHERE k.name = 'Krs Siegen-Wittgenstein' AND ST_Intersects(f.geom,k.geom) AND f.timestamp BETWEEN TIMESTAMP '2023-01-29 21:10:50' AND TIMESTAMP '2023-02-12 09:55:52';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 69590516 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69590605 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69588610 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69603824 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69609196 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69737597 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69610730 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69590421 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69697062 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69603286 │
└──────────┘
flightsInCountyInPeriod
flightClosestToPoint
SELECT f.flightid, f.airplaneType, f.origin, f.destination, ST_Distance(f.geom, ST_SetSRID(ST_Point(750403.310388766, 6641184.264465992), 3857)) AS min_distance FROM flight_points f WHERE ST_DWithin(f.geom, ST_SetSRID(ST_Point(750403.310388766, 6641184.264465992), 3857), 1825) ORDER BY min_distance ASC LIMIT 1;

┌──────────┬──────────────┬────────┬─────────────┬───────────────────┐
│ flightid ┆ airplanetype ┆ origin ┆ destination ┆    min_distance   │
│   int64  ┆     utf8     ┆  utf8  ┆     utf8    ┆      float64      │
╞══════════╪══════════════╪════════╪═════════════╪═══════════════════╡
│ 69766446 ┆ B77L         ┆ EHAM   ┆ LIRF        ┆ 37.58141926519407 │
└──────────┴──────────────┴────────┴─────────────┴───────────────────┘
flightClosestToPoint
airportUtilizationInPeriod
WITH departures AS ( SELECT f.origin AS airport, COUNT(DISTINCT f.flightid) AS departure_count FROM flight_trajectories_start f WHERE f.start_time::timestamp BETWEEN TIMESTAMP '2023-05-15 03:08:25' AND TIMESTAMP '2023-05-15 20:58:13' GROUP BY f.origin ), arrivals AS (SELECT f.destination AS airport, COUNT(DISTINCT f.flightid) AS arrival_count FROM flight_trajectories_end f WHERE f.end_time::timestamp BETWEEN TIMESTAMP '2023-05-15 03:08:25' AND TIMESTAMP '2023-05-15 20:58:13' GROUP BY f.destination) SELECT COALESCE(d.airport, a.airport) AS airport, COALESCE(d.departure_count, 0) AS departures, COALESCE(a.arrival_count, 0) AS arrivals,      COALESCE(d.departure_count, 0) + COALESCE(a.arrival_count, 0) AS traffic_count    FROM departures d FULL JOIN arrivals a ON d.airport = a.airport;

┌─────────┬────────────┬──────────┬───────────────┐
│ airport ┆ departures ┆ arrivals ┆ traffic_count │
│   utf8  ┆    int64   ┆   int64  ┆     int64     │
╞═════════╪════════════╪══════════╪═══════════════╡
│ LDZA    ┆          4 ┆        1 ┆             5 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EDLN    ┆          3 ┆        4 ┆             7 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ OMDW    ┆          1 ┆        1 ┆             2 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ LFSB    ┆          0 ┆        1 ┆             1 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EPKK    ┆          4 ┆       12 ┆            16 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EGKK    ┆         22 ┆        6 ┆            28 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EPWA    ┆          9 ┆       11 ┆            20 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ KMEM    ┆          0 ┆        2 ┆             2 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ LDZD    ┆          1 ┆        1 ┆             2 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ENZV    ┆          0 ┆        2 ┆             2 │
└─────────┴────────────┴──────────┴───────────────┘
airportUtilizationInPeriod
inCityRadiusInPeriod
SELECT DISTINCT f.flightid FROM (SELECT name, geom FROM cities WHERE name = 'Bochum') AS c JOIN flight_points AS f ON ST_DWithin(f.geom, c.geom, 1687) JOIN flight_trajectories_start ft ON ft.flightid = f.flightid JOIN flight_trajectories_end fe ON fe.flightid = f.flightid  WHERE (ft.start_time <= TIMESTAMP '2023-11-29 03:59:18' AND fe.end_time >= TIMESTAMP '2023-11-26 07:24:51') AND f.timestamp BETWEEN TIMESTAMP '2023-11-26 07:24:51' AND TIMESTAMP '2023-11-29 03:59:18';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
└──────────┘
inCityRadiusInPeriod
countFlightsInCounties
SELECT k.name, COUNT(DISTINCT f.flightid) as flight_count FROM counties k JOIN flight_points f ON ST_Intersects(f.geom, k.geom) WHERE k.name = 'Krs Staedteregion Aachen' GROUP BY k.name;

┌──────────────────────────┬──────────────┐
│           name           ┆ flight_count │
│           utf8           ┆     int64    │
╞══════════════════════════╪══════════════╡
│ Krs Staedteregion Aachen ┆         8070 │
└──────────────────────────┴──────────────┘
countFlightsInCounties
airportUtilizationInPeriod
WITH departures AS ( SELECT f.origin AS airport, COUNT(DISTINCT f.flightid) AS departure_count FROM flight_trajectories_start f WHERE f.start_time::timestamp BETWEEN TIMESTAMP '2023-03-27 17:59:51' AND TIMESTAMP '2023-03-28 00:33:03' GROUP BY f.origin ), arrivals AS (SELECT f.destination AS airport, COUNT(DISTINCT f.flightid) AS arrival_count FROM flight_trajectories_end f WHERE f.end_time::timestamp BETWEEN TIMESTAMP '2023-03-27 17:59:51' AND TIMESTAMP '2023-03-28 00:33:03' GROUP BY f.destination) SELECT COALESCE(d.airport, a.airport) AS airport, COALESCE(d.departure_count, 0) AS departures, COALESCE(a.arrival_count, 0) AS arrivals,      COALESCE(d.departure_count, 0) + COALESCE(a.arrival_count, 0) AS traffic_count    FROM departures d FULL JOIN arrivals a ON d.airport = a.airport;

┌─────────┬────────────┬──────────┬───────────────┐
│ airport ┆ departures ┆ arrivals ┆ traffic_count │
│   utf8  ┆    int64   ┆   int64  ┆     int64     │
╞═════════╪════════════╪══════════╪═══════════════╡
│ EDLN    ┆          1 ┆        1 ┆             2 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EGKK    ┆          1 ┆        2 ┆             3 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EPWA    ┆          4 ┆        3 ┆             7 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ LEAL    ┆          0 ┆        1 ┆             1 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EBCI    ┆          0 ┆        2 ┆             2 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ LRIA    ┆          1 ┆        1 ┆             2 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EGNT    ┆          0 ┆        3 ┆             3 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ LTBJ    ┆          0 ┆        1 ┆             1 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EGAA    ┆          0 ┆        1 ┆             1 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ EDDF    ┆          0 ┆        1 ┆             1 │
└─────────┴────────────┴──────────┴───────────────┘
airportUtilizationInPeriod
countFlightsInCounties
SELECT k.name, COUNT(DISTINCT f.flightid) as flight_count FROM counties k JOIN flight_points f ON ST_Intersects(f.geom, k.geom) WHERE k.name = 'Krs Dortmund' GROUP BY k.name;

┌──────────────┬──────────────┐
│     name     ┆ flight_count │
│     utf8     ┆     int64    │
╞══════════════╪══════════════╡
│ Krs Dortmund ┆         3330 │
└──────────────┴──────────────┘
countFlightsInCounties
countFlightsInCounties
SELECT k.name, COUNT(DISTINCT f.flightid) as flight_count FROM counties k JOIN flight_points f ON ST_Intersects(f.geom, k.geom) WHERE k.name = 'Krs Dueren' GROUP BY k.name;

┌────────────┬──────────────┐
│    name    ┆ flight_count │
│    utf8    ┆     int64    │
╞════════════╪══════════════╡
│ Krs Dueren ┆         6819 │
└────────────┴──────────────┘
countFlightsInCounties
countFlightsInCounties
SELECT k.name, COUNT(DISTINCT f.flightid) as flight_count FROM counties k JOIN flight_points f ON ST_Intersects(f.geom, k.geom) WHERE k.name = 'Krs Borken' GROUP BY k.name;

┌────────────┬──────────────┐
│    name    ┆ flight_count │
│    utf8    ┆     int64    │
╞════════════╪══════════════╡
│ Krs Borken ┆         7437 │
└────────────┴──────────────┘
countFlightsInCounties
flightsInCountyInPeriod
SELECT DISTINCT f.flightid FROM flight_points f, counties k WHERE k.name = 'Krs Oberbergischer Kreis' AND ST_Intersects(f.geom,k.geom) AND f.timestamp BETWEEN TIMESTAMP '2023-06-01 23:36:24' AND TIMESTAMP '2023-06-08 20:26:36';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 72154995 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72187817 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72171542 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72229041 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72245568 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72231930 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72161105 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72213430 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72166775 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 72230062 │
└──────────┘
flightsInCountyInPeriod
inCityRadiusInPeriod
SELECT DISTINCT f.flightid FROM (SELECT name, geom FROM cities WHERE name = 'Wiehl') AS c JOIN flight_points AS f ON ST_DWithin(f.geom, c.geom, 3427) JOIN flight_trajectories_start ft ON ft.flightid = f.flightid JOIN flight_trajectories_end fe ON fe.flightid = f.flightid  WHERE (ft.start_time <= TIMESTAMP '2023-01-22 23:01:23' AND fe.end_time >= TIMESTAMP '2023-01-13 11:42:04') AND f.timestamp BETWEEN TIMESTAMP '2023-01-13 11:42:04' AND TIMESTAMP '2023-01-22 23:01:23';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 69381480 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69345054 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 69364505 │
└──────────┘
inCityRadiusInPeriod
FlightUpdatesInPeriod
SELECT f.flightid, COUNT(*) FROM flight_points f WHERE f.timestamp BETWEEN TIMESTAMP '2023-03-03 06:45:10' AND TIMESTAMP '2023-03-17 14:02:51' GROUP BY f.flightid;

┌──────────┬──────────┐
│ flightid ┆ count(*) │
│   int64  ┆   int64  │
╞══════════╪══════════╡
│ 70089893 ┆       50 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70096423 ┆      229 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70096556 ┆       58 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70102488 ┆      113 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70200340 ┆      263 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70209251 ┆      372 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70245452 ┆      636 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70271714 ┆      146 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70273064 ┆      209 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 70316580 ┆      267 │
└──────────┴──────────┘
FlightUpdatesInPeriod
FlightUpdatesInPeriod
SELECT f.flightid, COUNT(*) FROM flight_points f WHERE f.timestamp BETWEEN TIMESTAMP '2023-06-13 00:07:09' AND TIMESTAMP '2023-06-19 03:41:29' GROUP BY f.flightid;

┌──────────┬──────────┐
│ flightid ┆ count(*) │
│   int64  ┆   int64  │
╞══════════╪══════════╡
│ 72461138 ┆      359 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72494218 ┆      346 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72503267 ┆      373 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72513260 ┆      109 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72539074 ┆      309 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72554361 ┆      264 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72558698 ┆     1325 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72569749 ┆      181 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72588748 ┆      562 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 72596279 ┆      675 │
└──────────┴──────────┘
FlightUpdatesInPeriod
inCityRadiusInPeriod
SELECT DISTINCT f.flightid FROM (SELECT name, geom FROM cities WHERE name = 'Kamp-Lintfort') AS c JOIN flight_points AS f ON ST_DWithin(f.geom, c.geom, 4209) JOIN flight_trajectories_start ft ON ft.flightid = f.flightid JOIN flight_trajectories_end fe ON fe.flightid = f.flightid  WHERE (ft.start_time <= TIMESTAMP '2023-01-14 06:00:09' AND fe.end_time >= TIMESTAMP '2023-01-05 17:03:50') AND f.timestamp BETWEEN TIMESTAMP '2023-01-05 17:03:50' AND TIMESTAMP '2023-01-14 06:00:09';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 69331161 │
└──────────┘
inCityRadiusInPeriod
inCityRadiusInPeriod
SELECT DISTINCT f.flightid FROM (SELECT name, geom FROM cities WHERE name = 'Hoexter') AS c JOIN flight_points AS f ON ST_DWithin(f.geom, c.geom, 3063) JOIN flight_trajectories_start ft ON ft.flightid = f.flightid JOIN flight_trajectories_end fe ON fe.flightid = f.flightid  WHERE (ft.start_time <= TIMESTAMP '2023-03-08 17:06:07' AND fe.end_time >= TIMESTAMP '2023-03-06 02:44:41') AND f.timestamp BETWEEN TIMESTAMP '2023-03-06 02:44:41' AND TIMESTAMP '2023-03-08 17:06:07';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 70186693 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 70172003 │
└──────────┘
inCityRadiusInPeriod
inCityRadiusInPeriod
SELECT DISTINCT f.flightid FROM (SELECT name, geom FROM cities WHERE name = 'Grevenbroich') AS c JOIN flight_points AS f ON ST_DWithin(f.geom, c.geom, 3617) JOIN flight_trajectories_start ft ON ft.flightid = f.flightid JOIN flight_trajectories_end fe ON fe.flightid = f.flightid  WHERE (ft.start_time <= TIMESTAMP '2023-10-15 19:33:51' AND fe.end_time >= TIMESTAMP '2023-10-05 09:59:22') AND f.timestamp BETWEEN TIMESTAMP '2023-10-05 09:59:22' AND TIMESTAMP '2023-10-15 19:33:51';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 75870093 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75930700 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75683180 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75901098 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75936262 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75645009 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75714466 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75704946 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75819837 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 75869724 │
└──────────┘
inCityRadiusInPeriod
inCityRadiusInPeriod
SELECT DISTINCT f.flightid FROM (SELECT name, geom FROM cities WHERE name = 'Enger') AS c JOIN flight_points AS f ON ST_DWithin(f.geom, c.geom, 1529) JOIN flight_trajectories_start ft ON ft.flightid = f.flightid JOIN flight_trajectories_end fe ON fe.flightid = f.flightid  WHERE (ft.start_time <= TIMESTAMP '2023-01-13 11:51:20' AND fe.end_time >= TIMESTAMP '2023-01-06 08:59:13') AND f.timestamp BETWEEN TIMESTAMP '2023-01-06 08:59:13' AND TIMESTAMP '2023-01-13 11:51:20';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 69324318 │
└──────────┘
inCityRadiusInPeriod
countFlightsInCounties
SELECT k.name, COUNT(DISTINCT f.flightid) as flight_count FROM counties k JOIN flight_points f ON ST_Intersects(f.geom, k.geom) WHERE k.name = 'Krs Maerkischer Kreis' GROUP BY k.name;

┌───────────────────────┬──────────────┐
│          name         ┆ flight_count │
│          utf8         ┆     int64    │
╞═══════════════════════╪══════════════╡
│ Krs Maerkischer Kreis ┆         5799 │
└───────────────────────┴──────────────┘
countFlightsInCounties
flightClosestToPoint
SELECT f.flightid, f.airplaneType, f.origin, f.destination, ST_Distance(f.geom, ST_SetSRID(ST_Point(909223.7656330178, 6825801.770711311), 3857)) AS min_distance FROM flight_points f WHERE ST_DWithin(f.geom, ST_SetSRID(ST_Point(909223.7656330178, 6825801.770711311), 3857), 3004) ORDER BY min_distance ASC LIMIT 1;

┌──────────┬──────────────┬────────┬─────────────┬──────────────┐
│ flightid ┆ airplanetype ┆ origin ┆ destination ┆ min_distance │
│   int64  ┆     utf8     ┆  utf8  ┆     utf8    ┆    float64   │
╞══════════╪══════════════╪════════╪═════════════╪══════════════╡
└──────────┴──────────────┴────────┴─────────────┴──────────────┘
flightClosestToPoint
countFlightsInCounties
SELECT k.name, COUNT(DISTINCT f.flightid) as flight_count FROM counties k JOIN flight_points f ON ST_Intersects(f.geom, k.geom) WHERE k.name = 'Krs Rhein-Sieg-Kreis' GROUP BY k.name;

┌──────────────────────┬──────────────┐
│         name         ┆ flight_count │
│         utf8         ┆     int64    │
╞══════════════════════╪══════════════╡
│ Krs Rhein-Sieg-Kreis ┆         9706 │
└──────────────────────┴──────────────┘
countFlightsInCounties
countFlightsInCounties
SELECT k.name, COUNT(DISTINCT f.flightid) as flight_count FROM counties k JOIN flight_points f ON ST_Intersects(f.geom, k.geom) WHERE k.name = 'Krs Mettmann' GROUP BY k.name;

┌──────────────┬──────────────┐
│     name     ┆ flight_count │
│     utf8     ┆     int64    │
╞══════════════╪══════════════╡
│ Krs Mettmann ┆        10240 │
└──────────────┴──────────────┘
countFlightsInCounties
countFlightsInCounties
SELECT k.name, COUNT(DISTINCT f.flightid) as flight_count FROM counties k JOIN flight_points f ON ST_Intersects(f.geom, k.geom) WHERE k.name = 'Krs Soest' GROUP BY k.name;

┌───────────┬──────────────┐
│    name   ┆ flight_count │
│    utf8   ┆     int64    │
╞═══════════╪══════════════╡
│ Krs Soest ┆         4987 │
└───────────┴──────────────┘
countFlightsInCounties
FlightUpdatesInPeriod
SELECT f.flightid, COUNT(*) FROM flight_points f WHERE f.timestamp BETWEEN TIMESTAMP '2023-11-17 04:47:40' AND TIMESTAMP '2023-11-24 02:37:31' GROUP BY f.flightid;

┌──────────┬──────────┐
│ flightid ┆ count(*) │
│   int64  ┆   int64  │
╞══════════╪══════════╡
│ 76648582 ┆      140 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76655315 ┆       71 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76664050 ┆      208 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76678280 ┆      296 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76705849 ┆        7 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76712258 ┆       26 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76750745 ┆      454 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76778196 ┆      266 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76661107 ┆       85 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 76666935 ┆      243 │
└──────────┴──────────┘
FlightUpdatesInPeriod
flightsInCountyInPeriod
SELECT DISTINCT f.flightid FROM flight_points f, counties k WHERE k.name = 'Krs Hochsauerlandkreis' AND ST_Intersects(f.geom,k.geom) AND f.timestamp BETWEEN TIMESTAMP '2023-08-18 03:04:30' AND TIMESTAMP '2023-08-31 10:34:26';

┌──────────┐
│ flightid │
│   int64  │
╞══════════╡
│ 74195876 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 74183079 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 74184580 │
├╌╌╌╌╌╌╌╌╌╌┤